@custom-media --xdesktop-viewport (min-width: 1680px);
@custom-media --desktop-viewport (min-width: 1240px);
@custom-media --tablet-wide-viewport (min-width: 992px);
@custom-media --tablet-viewport (min-width: 768px);
@custom-media --mobil-viewport (min-width: 480px);
@custom-media --smobil-viewport (min-width: 360px);
@custom-media --xsmobil-viewport (min-width: 320px);
@custom-media --color-print print and (color);
@custom-media --monochrome-print print and (monochrome);

:root {
	--font-size: 16px;
  --line-height: 1.15;
  --form-font-size: 16px;
  --form-line-height: 1.15;
	--font-family: 'Quicksand', Helvetica, sans-serif;
	--font-weight: 300;
	--header-font-weight: 400;
	--page-mobil-gap-side: 20px;
  --page-tablet-gap-side: 30px;
  --page-desktop-gap-side: 0;
	--page-width: 1210px;
	--color: #fff;
  --color-bg: #000;
	--color-link: #888;
	--color-link-hover: #fff;
	--color-border: rgba(255, 255, 255, 0.3);
}

