@import "./index.css";

:global {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; */
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }

  #app {
    height: 100%;
  }

  .splitter-layout > .layout-pane {
    display: flex;
  }

  .splitter-layout > .layout-splitter {
    width: 1px;
    background-color: #eee;
  }
}
